* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
@media (min-width: 375px) {
  .navbar-expand-sm {
      flex-wrap:nowrap;
      justify-content: flex-start
  }

  .navbar-expand-sm .navbar-nav {
      flex-direction: row
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu {
      position: absolute
  }

  .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
  }

  .navbar-expand-sm .navbar-nav-scroll {
      overflow: visible
  }

  .navbar-expand-sm .navbar-collapse {
      display: flex!important;
      flex-basis: auto
  }

  .navbar-expand-sm .navbar-toggler {
      display: none
  }
}
.container{
  margin:25px;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
  overflow: hidden;
}
.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  width:100%;
  height:100%;
  transition: all 0.2s;

}
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  filter: brightness(50%);
  transform: scale(1.2);
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../assets/hero.jpg");
  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  height: 400px;

  /* 2. Position and center the image to scale nicely on all screens. */
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-text{
  color:white;
  text-align: center;
}

.hero-subheading {
  font-size: 24px;
  font-weight: 100;
}
.hero-input{
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.nav-link {
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height:100%;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s all;
}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  width: 100%;
  height:100%;
  object-fit: cover;
}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter: brightness(50%);
}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  width:100%; 
  height: 100%;
  border-radius: 0.25rem;
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  filter: brightness(50%);
}

@media only screen and (max-width:992px){
    .main_img{
      grid-column: 1/4;
      grid-row:1/4;
    }
    .sub_img{
      display: none;
    }
}
@media only screen and (min-width:992px){
  .main_img{
    grid-column: 1/3;
    grid-row:1/3;
  }
}

@media only screen and (min-width:992px){
  .bord{
    grid-template-rows:auto;
  }
}

.bord{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}


.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}